/* COLORS */

// Backgrounds
$bg-color-1: #242526;
$bg-color-2: #515151;

// Texts
$txt-color-1: #e4e6eb;
$txt-color-2: #b0b3b8;
$txt-color-error: #ff4444;

// Overlays
$overlay-color-dark: rgba(0, 0, 0, 0.75);
$overlay-color-light: rgba(0, 0, 0, 0.25);

// Contrasts
$contrast-color: #ffc0c0;

// Reactions
$liked-color: #5555ff;
$disliked-color: #ff4444;
$loved-color: deeppink;
$laughed-color: goldenrod;
